.homeWrapper {
  min-height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;

  .homeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text-color);
    z-index: 0;

    .greet {
      text-align: start;
      font-size: 2rem;
    }
    .name {
      text-align: center;
      font-size: 4rem;
      margin-bottom: 0.2em;
    }
    .desc {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.1em;
      z-index: 90;
      display: flex;
      align-items: center;

      div {
        height: 1.5em;
        width: 0.1em;
        background-color: var(--text-color);
        margin: 0 1em;
      }
    }
    .avatar {
      margin-top: 50px;
      width: 150px;
      height: 150px;
      object-fit: cover;
      padding: 5px;
      border: 2px solid var(--text-color);
      border-radius: 50%;
      z-index: 99;
      z-index: 90;
    }

    .cta {
      display: flex;
      gap: 0.9rem;
      margin-top: 2rem;
      z-index: 99;
      font-size: 0.95rem;

      .email {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8em 1.1em;

        font-weight: bolder;
        color: var(--background-color);
        background-color: var(--text-color);
        background-clip: padding-box;
        border: 2px solid var(--text-color);
        appearance: none;
        border-radius: 0.25rem;
        margin: 10px 0;
        cursor: pointer;
        gap: 0.7em;
      }
      .resume {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8em 1.1em;
        font-weight: bolder;
        color: var(--text-color);
        background-color: var(--background-color);
        background-clip: padding-box;
        border: 2px solid var(--text-color);
        appearance: none;
        border-radius: 0.25rem;
        margin: 10px 0;
        cursor: pointer;
        gap: 0.7em;
      }
    }
    .socialIcons {
      z-index: 99;
      margin: 2rem 0;
      margin-bottom: 0;

      .icon {
        color: darkgray;
        height: 30px;
        width: 30px;
        margin: 10px;
        margin-bottom: 0;

        &:hover {
          transform: scale(1.2);
        }
      }
      .fb:hover {
        color: #3b5998;
      }
      .git:hover {
        color: white;
      }
      .tt:hover {
        color: #1da1f2;
      }
    }
  }
}

@media only screen and (max-width: 549px) {
  .homeWrapper {
    .homeContainer {
      .name {
        font-size: 3.1rem;
      }
      .desc {
        font-size: 1.1rem;
        font-weight: bold;

        div {
          height: 1.5em;
        }
      }
    }
  }
}
