.headWrapper {
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .headLink {
      text-decoration: none;
      color: var(--text-color);
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      padding: 0.8rem 0.6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border-bottom: 2px solid var(--text-color);
      }

      .icon {
        margin-right: 0.5rem;
        margin-top: 0;
        font-size: 1rem;
      }
    }
  }
  .toggleContainer {
    // height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
    position: absolute;
    bottom: 50;
    right: 50px;

    .toggle[type="checkbox"] {
      height: 0;
      width: 0;
      display: none;
      visibility: hidden;
    }

    .toggle_icon {
      cursor: pointer;
      text-indent: -9999px;
      width: 55px;
      height: 30px;
      background: var(--text-color);
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      position: relative;
    }

    .toggle_icon > .tog {
      color: var(--background-color);
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      left: 4px;
      transition: 1s cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    }

    .toggle:checked + .toggle_icon {
      background: var(--text-color);
    }

    .toggle:checked + .toggle_icon > .tog {
      color: var(--background-color);
      left: calc(100% - 5px);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}

.scrolled {
  background-color: var(--header-color);
  backdrop-filter: blur(4px);
  transition: background-color 0.3s ease;
  border-bottom: 5px solid #0000;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 549px) {
  .headWrapper {
    height: 110px;
    padding-top: 2em;

    .toggleContainer {
      top: 0.4em;
      right: 50;
      transform: translateX(50%);
    }
  }
}
