.projectWrapper {
  min-height: calc(100vh);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: flex-start;
  padding: 4rem 4rem 0 4rem;
  margin-bottom: 0;

  .sectionTitle {
    margin: 1em 0;
    margin-bottom: 0.5em;
    font-size: 4rem;
    width: 90%;
    text-align: center;
    z-index: 0;
  }

  .projItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 20rem;
    background-clip: padding-box;
    border: 1.5px solid var(--text-color);
    border-radius: 0.25rem;
    z-index: 0;

    div {
      height: 100%;
      width: 100%;
    }
  }
}

.showMoreProj {
  cursor: pointer;
  z-index: 0;
  font-weight: bold;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 550px) and (max-width: 1089px) {
  .projectWrapper {
  }
}

@media only screen and (max-width: 549px) {
  .projectWrapper {
    gap: 1.5rem;
    padding: 4rem 2rem 0 1rem;

    .sectionTitle {
      font-size: 2.4rem;
    }

    .projItem {
      width: 100%;
      height: 20rem;

      div {
      }
    }
  }
}
