.rightWrapper {
  width: 50px;
  height: 100vh;
  position: fixed;
  right: 0;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 5px 50px 0;

  .link {
    transform: rotate(270deg);
    text-decoration: none;
    color: #fff;
    font-size: 20px;

    &:hover {
      border-bottom: 2px solid #fff;
    }
  }

  .active {
    border-bottom: 2px solid #fff;
  }
}
