.skillsWrapper {
  min-height: calc(100vh - 120px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: flex-start;
  padding: 4rem 8rem 0 8rem;

  .skillItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    background-clip: padding-box;
    border: 1.5px solid var(--text-color);
    border-radius: 0.25rem;
    transition: all 0.2s ease;
    z-index: 90;

    &:hover {
      transform: translateY(-10px) scale(1.05) !important;
    }

    &:hover img {
      filter: grayscale(0%);
      filter: drop-shadow(0px 2px 2px #999);
    }
  }
}

@media only screen and (min-width: 550px) and (max-width: 1089px) {
  .skillsWrapper {
  }
}

@media only screen and (max-width: 549px) {
  .skillsWrapper {
    padding: 2rem 1rem 0 1rem;
  }
}
