html {
  --background-color: #f7f8f6;
  --text-color: #222733;
  --header-color: rgba(247, 248, 246, 0.8);
  cursor: url("data:image/svg+xml,%3Csvg height='10' width='10' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23000' r='4'/%3E%3C/svg%3E")
      5 5,
    auto;
}
html[data-theme="dark"] {
  --background-color: #222733;
  --text-color: #dbe8d4;
  --header-color: rgba(34, 39, 51, 0.8);
  cursor: url("data:image/svg+xml,%3Csvg height='10' width='10' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23fff' r='4'/%3E%3C/svg%3E")
      5 5,
    auto;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 400ms !important;
  transition-delay: 0 !important;
}

.loader {
  flex: 1;
  height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  background-color: var(--background-color);
  color: var(--text-color);

  .dot-bricks {
    position: relative;
    top: 8px;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--text-color);
    box-shadow: 9991px -16px 0 0 var(--text-color),
      9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
    animation: dotBricks 2s infinite ease;
  }
  .loading-text {
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 1.5em;
  }
}

@keyframes dotBricks {
  0% {
    box-shadow: 9991px -16px 0 0 var(--text-color),
      9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 var(--text-color),
      9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 var(--text-color),
      9991px -16px 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
  25% {
    box-shadow: 10007px -16px 0 0 var(--text-color),
      9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color);
  }
  33.333% {
    box-shadow: 10007px 0 0 0 var(--text-color),
      9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color);
  }
  41.667% {
    box-shadow: 10007px 0 0 0 var(--text-color),
      10007px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color);
  }
  50% {
    box-shadow: 10007px 0 0 0 var(--text-color),
      10007px -16px 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color);
  }
  58.333% {
    box-shadow: 9991px 0 0 0 var(--text-color),
      10007px -16px 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color);
  }
  66.666% {
    box-shadow: 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color),
      9991px -16px 0 0 var(--text-color);
  }
  75% {
    box-shadow: 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color),
      10007px -16px 0 0 var(--text-color);
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 var(--text-color),
      10007px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color);
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 var(--text-color),
      9991px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color);
  }
  100% {
    box-shadow: 9991px -16px 0 0 var(--text-color),
      9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
}

@media only screen and (min-width: 768px) {
  body::-webkit-scrollbar {
    width: 0.8em;
  }

  body::-webkit-scrollbar-track {
    background: var(--text-color);
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(175, 172, 172);
    border: 1px var(--text-color) solid;
    border-radius: 8px;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.3s infinite alternate;
  pointer-events: none;
  z-index: 9999;

  &:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid lightgray;
    border-radius: 50%;
    opacity: 0.5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 0.5s infinite alternate;
  }
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid var(--text-color);
}

.mainWrapper {
  // min-height: 100vh;
  background-color: var(--background-color);
  width: 100vw;
  color: var(--text-color);

  .mainContainer {
    width: 100%;
    padding: 50px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
  }
}
