:root {
  --background-color: #222733;
  --text-color: #dbe8d4;
}

.mainWrapper {
  min-height: 100vh;
  background-color: var(--background-color);
  width: 100vw;
  color: var(--text-color);

  .mainContainer {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
  }
}
