:root {
  --background-color: #222733;
  --text-color: #dbe8d4;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: var(--text-color);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(175, 172, 172);
  border: 2px var(--text-color) solid;
  border-radius: 8px;
}

body {
  margin: 0;
  height: 100vh;
  // cursor: none;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 9999;

  &:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid lightgray;
    border-radius: 50%;
    opacity: 0.5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 0.5s infinite alternate;
  }
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid var(--text-color);
}

.mainWrapper {
  // min-height: 100vh;
  background-color: var(--background-color);
  width: 100vw;
  color: var(--text-color);

  .mainContainer {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
  }
}
